* {
    margin: 0;
    padding: 0
}

.wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000
}

.textWrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 10px;
    width: 10px;
    z-index: 1000;
    background: #000000;
    padding: 20px;
    display: inline flex;
    flex-direction: row;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 2px
}

.wrapper i:hover {
    background-color: red;
    cursor: pointer;
}

.wrapper i {
    height: 100px;
    width: 100px;
    background: #000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 2px
}

.iconSize {
    font-size: 65px;
}