.cardSize {
    width: 18rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.cropText {
    -webkit-line-clamp: 3;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

.buttonTextSize {
    font-size: 20px;
    vertical-align: "center"
}

.priceTextSize {
    font-size: 15px;
}

.flexColumnGap{
    column-gap: 5px;
}