{
  "users": [
    {
      "id": 1,
      "nome": "Usuário",
      "sobrenome": "Teste",
      "email": "user@teste.com",
      "senha": "senha123",
      "telefone": "1234567890",
      "logradouro": "Logradouro",
      "numero": "123",
      "complemento": "Complemento",
      "bairro": "Bairro",
      "cidade": "Cidade",
      "cep": "12345678",
      "data": 1713747305
    },
    {
      "id": 2,
      "nome": "Administrador",
      "sobrenome": "Teste",
      "email": "admin@teste.com",
      "senha": "senha456",
      "telefone": "1234567890",
      "logradouro": "Rua",
      "numero": "098",
      "complemento": "Árvore",
      "bairro": "Rio de Janeiro",
      "cidade": "Rio de Janeiro",
      "cep": "87654321",
      "data": 1713747305
    }
  ],
  "produtos": [
    {
      "id": 1,
      "nome": "Big Mac",
      "src": "https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXCTbnv/200/200/original?country=br",
      "desc": "Dois hambúrgueres (100% carne bovina), alface americana, queijo processado sabor cheddar, molho especial, cebola, picles e pão com gergelim.",
      "price": "29.90"
    },
    {
      "id": 2,
      "nome": "Big Tasty",
      "src": "https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJX39JjK/200/200/original?country=br",
      "desc": "Um hambúrguer (carne 100% bovina), queijo processado sabor emental, tomate, alface americana, cebola, icônico molho Tasty e pão com gergelim.",
      "price": "19.90"
    }
  ],
  "pedidos": [
    {
      "id": 1,
      "user_id": 1,
      "produtos": [
        {
          "id": 1,
          "nome": "Big Mac",
          "qtd": "1",
          "price": "29.90"
        }
      ],
      "total": "29.90",
      "avaliacao": 4.5
      "status": "Em andamento",
      "detalhes": "Retirar o picles, por favor!",
      "pagamento": "PIX",
      "qtdTroco": "",
      "data": 1713747305
    },
    {
      "id": 2,
      "user_id": 2,
      "produtos": [
        {
          "id": 2,
          "nome": "Big Tasty",
          "qtd": "1",
          "price": "19.90"
        },
        {
          "id": 1,
          "nome": "Big Mac",
          "qtd": "2",
          "price": "29.90"
        }
      ],
      "total": "19.90",
      "avaliacao": 4.5
      "status": "Entregue",
      "detalhes": "Sem cebola, por favor!",
      "pagamento": "Dinheiro",
      "qtdTroco": "100",
      "data": 1713747305
    }
  ]
}